<div id="story"><p>
"This is the quintessential macaron (NOT macaroon) recipe. I am a baker's apprentice, and after much trial and error, we (the baker and I) finally perfected the technique. We decided to share with you all. Pipe your choice of filling on a cookie and sandwich another cookie on top. These are like cloud cookie sandwiches and are delicious if done correctly. If you want to do it the super-easy way, just fill with your favorite flavor of frosting. Enjoy!"
"This is the quintessential macaron (NOT macaroon) recipe. I am a baker's apprentice, and after much trial and error, we (the baker and I) finally perfected the technique. We decided to share with you all. Pipe your choice of filling on a cookie and sandwich another cookie on top. These are like cloud cookie sandwiches and are delicious if done correctly. If you want to do it the super-easy way, just fill with your favorite flavor of frosting. Enjoy!"
"This is the quintessential macaron (NOT macaroon) recipe. I am a baker's apprentice, and after much trial and error, we (the baker and I) finally perfected the technique. We decided to share with you all. Pipe your choice of filling on a cookie and sandwich another cookie on top. These are like cloud cookie sandwiches and are delicious if done correctly. If you want to do it the super-easy way, just fill with your favorite flavor of frosting. Enjoy!"
</p></div>
<div id="how_to_find">
        <div id="information">
            <div id="map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3026.2201061424375!2d-73.99134968459641!3d40.66911897933662!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25afb7c185fdf%3A0xbec8baf16426ca30!2s251+11th+St%2C+Brooklyn%2C+NY+11215!5e0!3m2!1sen!2sus!4v1533665659455" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe></div>
            
        </div>
        <div id="social">
            <div id="facebook"><img src="/images/media/icons/facebook.png"></div>
            <div id="instagram"><img src="/images/media/icons/black.png"></div>
            <div id="yelp"><img src="/images/media/icons/yelp.png"></div>
           
        </div>
         <div id="contacts"> 
                <p>Monday - Sunday: 9am - 11pm</p>
                <p>e-mail: guilty_pleasure@gmail.com</p>
                <p>phone: 929 329 89 89</p>
           </div>
</div>

<style>
#how_to_find {
    display: flex;
    justify-content: space-around;
}

#social {
    display: flex;
}

#social img {
    height: 80px;
}

#map {
    margin-top: -32px;
}
</style>


 <a href="https://www.edamam.com/" target="_blank"><img src="/images/media/macaron.gif" id="macarooner" style="position: absolute;
    position: absolute;
    height: 177px;
    margin-top: -182px;
    margin-left: 562px;"></a>
