
<html>
<head>
<title>Page Title</title>
</head>
<body>

    <div class="menu-main-menu-container">
        <ul id="menu-main-menu" class="menu">
          <li id="menu-item" class="menu-item">
            <a href="/about_us">About Us</a>
             </li>
          <li id="menu-item" class="menu-item">
          <a href="/rainbow">Rainbow</a>
          </li>
          <li id="menu-item" class="menu-item">
          <a href="/custom">Custom</a>
          </li>
          <li id="menu-item" class="menu-item">
          <a href="/marchandise">Merch</a>
          </li>
          <li id="menu-item" class="menu-item">
          <a href="/contacts">Contacts</a>
          </li>
      </ul>
    </div>

</body>
</html> 