<html>
<head>
    <title>Guilty Pleasure</title>
    <%# <link rel="stylesheet" type="text/css" href="semantic-dist/semantic.min.css"> %>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:700|Permanent+Marker|Special+Elite" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style_main.css">
    
    <%# <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
    <script src="semantic-dist/semantic.min.js"></script> %>
</head>
<body>
    <div id="header">
        <div id="left">
            <div class="section"><a href="/about_us" style="color: #f44a52;text-decoration: none;">ABOUT US</a></div>
            <div class="section"><a href="/contacts" style="color: #f44a52;text-decoration: none;">FOOD POLICY</a></div>
            <div class="section"><a href="/faq" style="color: #f44a52;text-decoration: none;">FAQ</a></div>
        </div>
        <div id="right">
            <div class="section">LOG IN</div>
            <div class="section">SIGN UP</div>
        </div>
    </div>

    <div id="main">
        <div id="logo">
           <a href="/"><img src="/images/media/logo_main.png" alt="logo"/></a>
        </div>
        <div id="products">
            <div class="category"><a href="/rainbow">ETERNAL CLASSIC</a></div>
            <div class="category"><a href="/custom">VERY ARTSY</a></div>
            <div class="category"><a href="/marchandise">NOT EATABLE</a></div>
        </div>
    </div>
    <div id="quote" style="position: absolute; color: #f44a52; font-family: 'Special Elite', cursive; font-size: 15px;
    margin-left: 473px; margin-top: 80px;">Enjoy our macarons. We will handle you guilt...</div>
    <div id="font_images">
        <div id="img_1"><img src="/images/media/font_pictures/4.png"</div>
        <div id="img_2"><img src="/images/media/font_pictures/12.png"</div>
        <div id="img_3"><img src="/images/media/font_pictures/3.png"</div>
        <div id="img_4"><img src="/images/media/font_pictures/21.png"</div>
        <div id="img_5"><img src="/images/media/font_pictures/16.png"</div>
        <div id="img_6"><img src="/images/media/font_pictures/17.png"</div>
        <%# <div id="img_7"><img src="/images/media/font_pictures/6.png"</div> %>
        <div id="img_8"><img src="/images/media/font_pictures/9.png"</div>
        
    </div>
     <a href="https://www.edamam.com/" target="_blank"><img src="/images/media/macaron.gif" id="macarooner" style="position: absolute;
        height: 100px;
        margin-top: 300px;
        <%# margin-left: 1166px; %>
        animation: run 20s normal;"></a>
        

</body>
</html> 